run = "npm run deploy"
modules = ["nodejs-20"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-24_05"

[env]
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[languages.javascript]
pattern = "**/*.js"
syntax = "javascript"

[languages.jsx]
pattern = "**/*.jsx"
syntax = "jsx"

[deployment]
run = ["sh", "-c", "npm run deploy"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]